{% extends 'generic/object.html' %}

{% block extra_controls %}
  {% if can_manage_access_request_persons and object.can_admin_verify %}
    <form method="post" action="{% url 'plugins:netbox_smartlock:accessrequestperson_verify_valid' pk=object.pk %}" class="d-inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">
        <i class="mdi mdi-check"></i> Valid
      </button>
    </form>
    <form method="post" action="{% url 'plugins:netbox_smartlock:accessrequestperson_verify_invalid' pk=object.pk %}" class="d-inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">
        <i class="mdi mdi-close"></i> Invalid
      </button>
    </form>
  {% endif %}
  {% if can_manage_access_request_persons and object.can_check_in %}
    <form method="post" action="{% url 'plugins:netbox_smartlock:accessrequestperson_check_in' pk=object.pk %}" class="d-inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">
        <i class="mdi mdi-login"></i> In
      </button>
    </form>
  {% endif %}
  {% if can_manage_access_request_persons and object.can_check_out %}
    <form method="post" action="{% url 'plugins:netbox_smartlock:accessrequestperson_check_out' pk=object.pk %}" class="d-inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary">
        <i class="mdi mdi-logout"></i> Out
      </button>
    </form>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Person</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr><th scope="row">Full Name</th><td>{{ object.full_name }}</td></tr>
          <tr><th scope="row">Identity Code</th><td>{{ object.identity_code }}</td></tr>
          <tr><th scope="row">Organization</th><td>{{ object.organization }}</td></tr>
          <tr><th scope="row">Title</th><td>{{ object.title|default:"-" }}</td></tr>
          <tr><th scope="row">Phone</th><td>{{ object.phone|default:"-" }}</td></tr>
          <tr><th scope="row">Verification</th><td>{{ object.get_verify_status_display }}</td></tr>
          <tr><th scope="row">Access Status</th><td>{{ object.get_access_status_display }}</td></tr>
          <tr><th scope="row">Description</th><td>{{ object.description|default:"-" }}</td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Scope and Attachments</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr><th scope="row">Request</th><td>{% if object.request %}<a href="{{ object.request.get_absolute_url }}">{{ object.request }}</a>{% else %}-{% endif %}</td></tr>
          <tr><th scope="row">Location</th><td>{% if object.location %}<a href="{{ object.location.get_absolute_url }}">{{ object.location }}</a>{% else %}-{% endif %}</td></tr>
          <tr>
            <th scope="row">Attachments</th>
            <td>
              {% if uploaded_files %}
                <ul class="list-unstyled mb-0">
                  {% for file in uploaded_files %}
                    <li>
                      <a href="{{ file.file.url }}" target="_blank" rel="noopener">
                        {{ file.file_name|default:file.file.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
