{% extends 'generic/object.html' %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Information</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr><th scope="row">Name</th><td>{{ object.name }}</td></tr>
          <tr><th scope="row">Slug</th><td><code>{{ object.slug }}</code></td></tr>
          <tr><th scope="row">Code</th><td>{{ object.code|default:"-" }}</td></tr>
          <tr><th scope="row">Status</th><td>{{ object.get_status_display }}</td></tr>
          <tr><th scope="row">Description</th><td>{{ object.description|default:"-" }}</td></tr>
          <tr>
            <th scope="row">Attachments</th>
            <td>
              {% if uploaded_files %}
                <ul class="list-unstyled mb-0">
                  {% for file in uploaded_files %}
                    <li>
                      <a href="{{ file.file.url }}" target="_blank" rel="noopener">
                        {{ file.file_name|default:file.file.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Smart Locks ({{ smartlocks.count }})</h5>
      <div class="card-body">
        {% if smartlocks %}
          <ul class="list-unstyled mb-0">
            {% for lock in smartlocks %}
              <li><a href="{{ lock.get_absolute_url }}">{{ lock }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <span class="text-muted">No Smart Locks assigned.</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
