{% extends 'generic/bulk_delete.html' %}
{% load form_helpers %}
{% load render_table from django_tables2 %}

{% block title %}Xóa {{ table.rows|length }} {{ smartlock_model_label_plural }}?{% endblock title %}

{% block tabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="delete-form-tab" data-bs-toggle="tab" data-bs-target="#delete-form" type="button" role="tab" aria-controls="delete-form" aria-selected="true">
        Xóa hàng loạt
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="object-list-tab" data-bs-toggle="tab" data-bs-target="#object-list" type="button" role="tab" aria-controls="object-list" aria-selected="false">
        Đối tượng đã chọn
        <span class="badge text-bg-secondary">{{ table.rows|length }}</span>
      </button>
    </li>
  </ul>
{% endblock tabs %}

{% block content %}
  <div class="tab-pane show active" id="delete-form" role="tabpanel" aria-labelledby="delete-form-tab">
    <div class="alert alert-danger bg-danger-subtle" role="alert">
      <div class="d-flex">
        <div>
          <i class="mdi mdi-alert-octagon p-2"></i>
        </div>
        <div>
          <h4 class="alert-title">Xác nhận xóa hàng loạt</h4>
          Thao tác này sẽ xóa <strong>{{ table.rows|length }}</strong> {{ smartlock_model_label_plural }}. Vui lòng kiểm tra danh sách đã chọn trước khi xác nhận.
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <form action="" method="post">
        {% csrf_token %}

        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        <div class="bg-primary-subtle border border-primary rounded-1 pt-3 px-3 mb-3">
          {% if form.changelog_message %}
            <div class="mb-3">
              <label class="form-label" for="{{ form.changelog_message.id_for_label }}">Thông điệp nhật ký thay đổi</label>
              {{ form.changelog_message }}
            </div>
          {% endif %}
          <div class="mb-3">
            <label class="form-label" for="{{ form.background_job.id_for_label }}">Chạy nền</label>
            {{ form.background_job }}
            <div class="form-text">Xử lý thao tác bằng background job.</div>
          </div>
        </div>

        <div class="text-end">
          <a href="{{ return_url }}" class="btn btn-outline-secondary">Hủy</a>
          <button type="submit" name="_confirm" class="btn btn-danger">Xóa {{ table.rows|length }} {{ smartlock_model_label_plural }}</button>
        </div>
      </form>
    </div>
  </div>

  <div class="tab-pane" id="object-list" role="tabpanel" aria-labelledby="object-list-tab">
    <div class="card">
      <div class="table-responsive">
        {% render_table table 'inc/table.html' %}
      </div>
    </div>
  </div>
{% endblock content %}
