{% extends 'generic/object.html' %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Primary Information</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr><th scope="row">Name</th><td>{{ object.name }}</td></tr>
          <tr><th scope="row">Code</th><td>{{ object.code|default:"-" }}</td></tr>
          <tr><th scope="row">Asset Group</th><td>{% if object.asset_group %}<a href="{{ object.asset_group.get_absolute_url }}">{{ object.asset_group }}</a>{% else %}-{% endif %}</td></tr>
          <tr><th scope="row">Status</th><td>{{ object.get_status_display }}</td></tr>
          <tr><th scope="row">Created By</th><td>{{ created_by_name }}</td></tr>
          <tr><th scope="row">Warranty</th><td>{{ warranty_state }}</td></tr>
          <tr><th scope="row">Description</th><td>{{ object.description|default:"-" }}</td></tr>
          <tr><th scope="row">Comments</th><td>{{ object.comments|default:"-" }}</td></tr>
          <tr>
            <th scope="row">Attachments</th>
            <td>
              {% if uploaded_files %}
                <ul class="list-unstyled mb-0">
                  {% for file in uploaded_files %}
                    <li>
                      <a href="{{ file.file.url }}" target="_blank" rel="noopener">
                        {{ file.file_name|default:file.file.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Location and Mapping</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr><th scope="row">Region</th><td>{% if object.region %}<a href="{{ object.region.get_absolute_url }}">{{ object.region }}</a>{% else %}-{% endif %}</td></tr>
          <tr><th scope="row">Site</th><td>{% if object.site %}<a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>{% else %}-{% endif %}</td></tr>
          <tr><th scope="row">Location</th><td>{% if object.location %}<a href="{{ object.location.get_absolute_url }}">{{ object.location }}</a>{% else %}-{% endif %}</td></tr>
          <tr><th scope="row">Rack</th><td>{% if object.rack %}{{ object.rack }}{% else %}-{% endif %}</td></tr>
          <tr><th scope="row">Rack Face</th><td>{{ object.get_rack_face_display|default:"-" }}</td></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Device</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr><th scope="row">Device Type</th><td>{{ object.device_type }}</td></tr>
          <tr><th scope="row">Model</th><td>{{ object.model|default:"-" }}</td></tr>
          <tr><th scope="row">Serial</th><td>{{ object.serial|default:"-" }}</td></tr>
          <tr><th scope="row">Manufacturer</th><td>{{ object.manufacturer|default:"-" }}</td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Lifecycle</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr><th scope="row">Setup Date</th><td>{{ object.setup_date|default:"-" }}</td></tr>
          <tr><th scope="row">Purchase Date</th><td>{{ object.bought_date|default:"-" }}</td></tr>
          <tr><th scope="row">Warranty Period</th><td>{% if object.warranty_period %}{{ object.warranty_period }} months{% else %}-{% endif %}</td></tr>
          <tr><th scope="row">Warranty Expiration</th><td>{{ object.warranty_expiration_date|default:"-" }}</td></tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
